.el-form{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: auto;
}
.mx-page__pagination{
    padding: 25px 0 20px 20px;
}
.mx-crud__menu{
    padding: 10px 0 20px 10px;
}
.mx-crud__left{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: auto;
}